.env
*.exe
*.exe~
*.dll
*.so
*.dylib
avm-service
test

vendor/
/pkg/
*.a
*.o

*.log
*.log.*
logs/
log/

.vscode/

.idea/

*.sublime-project
*.sublime-workspace

*~
*.swp
*.swo

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.prof
*.out
coverage.html
profile.out

local.env
config.local.yaml